# Ignore all directories, and all sub-directories, and it's contents:
# Ignore * all files in directories
# Ignore **/ alll subdirectories 

.vscode/
/.settings/
/.project
/.buildpath
/database/mysql
/log/
/www/base/
/www/arquivos_pdf/